---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          {% if page.news -%}
          <!-- News -->
          {%- include news.html %}
          {%- endif %}
          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}
          {%- if page.social %}
          <!-- Social -->
          <div class="social">
            <div class="contact-icons">
            {% include social.html %}
            </div>

            <div class="contact-note">
              {{ site.contact_note }}
            </div>
          </div>
          {%- endif %}
        </article>
        <div style="max-width:100px;margin-left:auto;margin-right:auto">
          <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=wDr6qjwuedZDvNgxhG3kW_MSR0CfQlB-uVMbMpAETVs"></script>
        </div>
        <blockquote style="float:right;text-align:right">
          一切有为法，如梦幻泡影，<br>
          如露亦如电，应作如是观。 <br>
          《金刚般若波罗蜜经》 <br>
          Like a tiny drop of dew, or a bubble floating in a stream; <br>
          Like a flash of lightning in a summer cloud; <br>
          Or a flickering lamp, an illusion, a phantom, or a dream. <br>
          So is all conditioned existence to be seen. <br>
          《Diamond Sutra》
 </blockquote>
</div>
