---
layout: default
---
<!-- page.html -->
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>
            {{ content }}
          </article>
        <div style="max-width:100px;margin-left:auto;margin-right:auto"><script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=wDr6qjwuedZDvNgxhG3kW_MSR0CfQlB-uVMbMpAETVs"></script></div>

        </div>
